* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
    background-color: rgb(2, 2, 50);
}

.instruction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    background-color: gray;

}

.uScore {
    margin-right: 50vh;
}

.uScore, .cScore {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.choices {
    height: 20vh;
    width: 20vw;
    background-color: rgba(22, 22, 95, 0.334);
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.choices:hover {
    transform: scale(1.1);
    background-color: rgb(22, 22, 95);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 18px;
    background-color: rgb(2, 2, 50);;
    padding: 10px;
    min-height: 5vh;
}

main {
    flex: 1;
}